$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: #333;
$font-primary: Arial, Helvetica, sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-color;
  color: $dark-color;
  font-family: $font-primary;
  line-height: 1.5;
}
